@font-face {
	font-family: OpenSans;
	src: url('assets/fonts/OpenSans-Regular.ttf');
}

@media only screen and (max-width: 767px) {

	#container {
		flex-wrap: wrap;
	}
	header {
		height: 70px;
	}
	#logo {
		width: 70%;
	}
	#overlay {
		visibility: hidden;
		position: fixed;
		background-color: black;
		opacity: 0.7;
		flex-direction: row;
		width: 100%;
		height: 90%;
		top: 70px;
	}
	#button-menu:hover ~ div{
		visibility: visible;
	}
	#menu-overlay {
		display: flex;
		visibility: hidden;
		flex-direction: column;
		justify-content: space-between;
		background-color: white;
		position: fixed;
		right: 0;
		padding: 8% 5% 8% 5%;
		height: 90%;
		top: 70px;
		opacity: 1;
		box-sizing: border-box;
	}
	#menu-overlay ul {
		padding-bottom: 20%;
	}
	#menu-overlay li {
		color: #ffcf55;
		text-transform: uppercase;
		list-style-type: none;
		font-weight: bold;
		text-align: end;
		padding-top: 7%;
		padding-bottom: 7%;
	}
	#overlay-search {
		padding-right: 4%;
		padding-left: 4%;
	}
	#svg-share {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	nav ul{
		display: none;
	}
	#button-menu{
		position: absolute;
		color: white;
		top: 18px;
		right: 10%;
		font-size: 25px;
	}
	main, aside {
		flex-grow: 1;
	}
	.post p, .post h1, .post h2, .post ul, .comment p, .comment div, .comment h1, .comment h2 {
		padding-left: 4%;
		padding-right: 4%;
	}
	.text-linked p, footer div {
		display: none;
	}
	footer {
		justify-content: space-around;
	}
}

@media only screen and (min-width: 768px) {
	#container {
		flex-wrap: nowrap;
		padding-left: 9%;
		padding-right: 9%;
	}
	header {
		height: 104px;
	}
	#logo {
		width: 40%;
	}
	#menu-overlay, #overlay {
		display: none;
	}
	nav ul{
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		padding: 0;
		margin: 0;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	#button-menu{
		display: none;
	}
	main {
		max-width: 65%;
	}
	aside {
		padding-top: 170px;
		max-width: 30%;
	}
	.post p, .post h1, .post h2, .post ul, .comment p, .comment div, .comment h1, .comment h2 {
		padding-left: 0;
		padding-right: 0;
	}
	footer {
		justify-content: space-between;
	}
	footer div {
		display: flex;
		min-width: 10%;
		flex-direction: row;
		justify-content: space-between;
	}
}

* {
	box-sizing: border-box;
}

body {
	margin: auto;
	color: #808080;
	width: 100%;
	font-family: OpenSans;
}
#main-post {
	height: 120px;
	margin:0;
	padding: 0;
}
header {
	box-shadow: 2.1px 2.1px 16px 0 rgba(85, 76, 92, 0.25);
	background-color: #32bccc;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-left: 9%;
	padding-right: 9%;
	margin-bottom: 3%;
}

#logo {
	max-width: 269px;
	max-height: 47px;
	height: auto;

}

nav {
	margin-left: auto;
	max-width: 50%;
	width: auto;
	flex-grow: 1;
}

nav ul li {
	text-transform: uppercase;
	list-style-type: none;
	color: white;
	font-weight: bold;
}
#container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

main {
	display: flex;
	flex-direction: column;
}

aside {
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}
.box-search {
	display: flex;
	flex-direction: row;
	width: 100%;
	border: solid 1px #ccc;
	align-items: center;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 4px;
	margin-bottom: 10%;
}

#search {
	width: 92%;
	height: 42px;
}


#box-email {
	width: 100%;
	display: flex;
	align-content: stretch;
	flex-direction: column;
	background-color: #32bccc;
	opacity: 0.5;
	margin-top: 10%;
	padding: 8%;
}

#box-email p{
	color: white;
	text-align: center;
	font-family: OpenSans;
	font-size: 1.6rem;
	font-weight: 800;
}

input{
	color: white;
	align-items: center;
	height: 42px;
	border: none;
	border-radius: 4px;
	padding: 2%;
}

.button{
	color: white;
	text-transform: uppercase;
	border: none;
	border-radius: 100px;
	align-self: flex-end;
	margin-top: 7%;
	font-family: OpenSans;
	font-size: 1.1rem;
	font-weight: 800;
}
#send {
	background-color: #ed5564;
	width: 45%;
}
#comment {
	flex-direction: row;
	background-color: #f6bb42;
	max-width: 35%;
	margin-left: auto;
	margin-top: 3%;
	margin-bottom: 3%;
}
#share {
	text-align: center;
	background-color: #fef8ee;
	padding: 5%;

}

#share img {
	margin: 1%;
}
.comment {
	display: flex;
	flex-direction: column;
	background-color: #f3f3f3;
	padding: 3%;

}
.container-comment h2::after {
	content: "";
    height: 15px;
	width: 15px;
	display: block;
	transform: rotate(45deg); 
	margin: 2% 2% -18px 3%;
	background-color: #f3f3f3;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 3%;
}
form input {
	width: 48%;
	border: solid 1px #cccccc;
	margin-top: 3%;
	padding: 10px;

}
form textarea {
	width: 100%;
	border: solid 1px #cccccc;
	resize: none;
	margin-top: 3%;
	padding: 10px;

}

.post-linked {
	display: flex;
	flex-direction: row;
	padding-top: 4%;
}
.text-linked {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
.text-linked p {
	text-align: justify;
}
.text-linked p, .text-linked h2{
	padding: 0;
	margin: 0 5% 0 5%;
}

.subtitle {
	display: flex;
	justify-content: space-between;
}

footer {
	height: 56px;
	background-color: #32bccc;
	width: 100%;
	display: flex;
	align-items: center;
	color: white;
	margin-top: 6%;
	padding-left: 9%;
	padding-right: 9%;
}

.text-yellow{
	color: #f6bb42;
}

.text-red {
	color: #ed5564;
}

.text-blue {
	color: #32bccc;
}

.text-bold, span {
	font-weight: bold;
}
.text-underlined {
	text-decoration: underline;
}
#pusheen, #rabbit, #panda {
	width: 100%;
	height: auto;
}
#pusshen {
	max-width: 360px;
	max-height: 50px;
}
#panda {
	max-width: 193px;
	max-height: 128px;
}
#container p, ul {
	font-size: 1rem;
}
.text-big{
	font-size: 2rem;
}
.text-regular {
	font-size: 1.5rem;
}
.text-small{
	font-size: 0.9rem;
}
#container ul {
	list-style-type: none;
}
#container li {
	padding-left: 0;
	margin-left: 0;
}
#container li::before {
	content: "•";
	color: #32bccc;
	margin-right: 3%;
	padding-left: 0;
	margin-left: 0;
}
